:root{
    --main-color: #F9A826;
    --second-color: #0F1D3C;
    --link-color: #394D8F

}

body{
    background-color: #FFFF;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

.navbar{

    background-color: #FBFBFB;
    padding: 1em 1em;
    font-size: 28px;

    .logo{
        text-decoration: none;
        font-weight: 700; 
        
        .logo-coder{
            color: var(--second-colo);

        }

        .logo-plus-plus{
            color: var(--main-color);

        }

    }

    

    nav.menu-pane{
        display: block;
    }


    nav{
        display: none; //Remove this when you want to see the nav
        font-weight: 400px;
        font-size: 22px;
        z-index: 999;
        right: 0;
        top: 0;
        background-color: var(--main-color);
        height: 100vh; // vh is height of the browser
        width: 50vw;
        position: fixed;
        

        .menu-exit{
            float: right;
            padding: 1em 1em; //top&bottom vs Left&right
            width: 1.2em;
            cursor: pointer;
        }

        .primary-nav{
            margin-top: 5em;
        }


        li{
            
            a{color: white;
                text-decoration: none;
                display: block;
                padding: 0.5em 1em;
                text-align: right;
                
                

                &:hover{
                    color: var(--second-color);
                    font-weight: 700;

                }
            }
        
            
        }

    }
}


.mobile-menu{
    display: block;

}

.container{
    display: flex;
    place-content: space-between;

    
}

.options{
    display: none;
    font-size: 18px;
    
}


.mobile-menu{
    cursor: pointer;
    height: 26px;

}



a{
    color: var(--second-color);
    text-decoration: none;
}

ul{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 32px;
}


.hero-1{

    text-align: center;
    background-color: #FFFF;

    .container{
        display: block;
       
       
       
    

        .dev-image{
            margin-top: 3em; 
            display: block;
            margin-left: auto; //to center an image set margin left and right to "auto"
            margin-right: auto;
            width: 90%;
        }
    }
}

.left-side{
    

    .subhead{
        text-transform: uppercase;
        color: var(--second-color);
        letter-spacing: .3em;
        font-weight: 700;
        font-size: 20px;
    } 

    h1{
        color: var(--main-color);
        font-size: 3.0em; 
        margin-top: 0.1em; 
    } 

    .button{
        text-decoration: none;
        font-weight: 700;
        letter-spacing: .2em;
        color: white;
        background-color: var(--second-color);
        padding: 1em 1.3em;
        border-radius: 30px;
        cursor: pointer;
        display: inline-block;
        font-size: 20px ;
    }



    .watch{
        display: block;
        margin: 1em 0em 4em; //top, right, bottom. 
        font-weight: bold;
        text-decoration: none;
     

        .video{
            margin-right: 5px;
            height: 16px;
            
        }
    }

    .watch:hover{
        color: var(--link-color);;
    }

    .watch:active{
        color: var(--link-color);
    }

}



.hero-2{
   background-color: var(--second-color);
   
    .container{
       display: block;
       
      
       .collab-image{
           display: none;
       }
    }
    
   
    ul.features{
       margin: 0px;
       color: white;
       font-size: 22px;
       display: grid; //2.03hr
       grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
   
       
   
       li{
           margin-bottom: 1em;
           margin-left: 2em;
           position: relative;
   
           &:before{  //& is only specific to Sccs
               content: '';
               width: 20px;
               height: 20px;
               background-image: url("images/bullet.svg");
               background-size: cover;
               position: absolute;
               margin-right: 2em;
               left: -1.5em;
            }
        }
       
    }
     
}
   

.hero-3{

    text-align: center;
    
    

    ul{
        color: whitesmoke;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 2em;
       
        
        
        

        li{
            background-color: var(--second-color);
            text-align: center;
            padding: 3em 1em;
            margin: 0em auto 5em auto; //top, right, bottom, left .. note that auto will center align that box 
            border-radius: 15px;
            font-size: 20px;
            font-weight: 100;
            position: relative;
            width: 70%;
            
            

             .profile{
                    height: 110px;
                    width: 110px;
                    border-radius: solid;
                    margin-top: -5.8em;
                    margin-left: -2.65em;
                    border-width: 1em;
                    border-color: black;
                    position: absolute;
                  
                }

        }

    }


}




.hero-4{
background-color: #E3E3E3;
color: var(--second-color);
font-size: 20px;



    h2{
        font-size: 35px; 
        margin-bottom: 30px; 
        font-weight: 700;
    }

    label{
        display: block;
        margin-bottom: 10px;
    }

    input, textarea{
        display: block;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        }

    input{
        height: 2.8em;
    }


    ::placeholder{
        font-size: 14px;
        color: E3E3E3;
        padding: .2em;
    }

    .send-button{
        background-color: var(--second-color);
        color: #FFFF;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 3em;
        border-color: var(--second-color);
        border-style: solid;
        max-width: 30%;
    }

    iframe{ //make sure these dimensions are not already set in the embedded HTML section or you'll fustrate your life. 
        width: 100%;
        height:400px;
    }
    
}




@media only screen and (min-width: 672px) { //Leaving smallest screen
   
 
    
    .hero-1{
        
        .container .dev-image{
            max-width: 547.195px;
        }
    }

   
    .hero-2{
        padding-bottom: 0;
    }
    .hero-2 .container{
        display: block;
        
       
        .collab-image{
            display: block;
            margin-top: 3em;
            width: 70%;
            right: 0em;
            margin-right: 10%;
            margin-left: 30%;
        }
    }


    .hero-3{

        .container{
            margin-top: 100px;
        }
    }
}


@media only screen and (min-width: 1030px) { //begin to split hero-1 in two


    .navbar{
        
        .container .mobile-menu{
            display: none;
           


        }

        .logo{
            padding-left: 20px;
        }

        .options{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            font-size: 18px;
            align-content: center;

        

            .first-options{
                display: flex;
                padding-right: 50px;

                .home{
                    font-weight: bold;
                }



                li{
                    padding-right: 20px;
                    
                    :hover{
                        font-weight: 700;
                        cursor: pointer;
                        color: var(--main-color);
                    }
                }
               
            }

            .second-options{
                display: flex;

                li{
                    padding-left: 20px;


                    :hover{
                        font-weight: 700;
                        cursor: pointer;
                        color: var(--main-color);
                    }

                    .premium:hover{
                        background-color: var(--second-color);
                        color: white;
                    }

                
                }

                .premium{
                    background-color: white;
                    border-radius: 30px;
                    height: 100%;
                    padding: .5em 1em;
                    border-color: var(--second-color);
                    border-style: solid;
                    border-width: .2em;
                    font-weight: bold;

                    

                   

                }

                

    
            
            }


        }


    }

   
    .hero-1{
        padding: 100px 100px 100px 100px; //top right, bottom, left 


       .container{
           
            margin: 0 auto; //top&bottom no margin --- Left&right fill up space with margin
            display: grid;
            grid-template-columns: auto auto;
            text-align: left;
            
            .left-side{
                display: grid;
                max-width: 550px;
                padding-right: 1em;;



                .watch{
                    margin-top: 1.5em;
                    margin-left: 1em;
                }
        
            }

            .right-side{
                display: grid; 

                .dev-image{
                    width: 100%;
                    margin-left: 2em;
                }
            }
        
        }


    }



    .hero-4{

        display: grid;
        grid-template-columns: auto auto;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-right: 0em;
       

        .contact-info{
            padding: 4em 3em 4em 2em;
        }


        .map iframe{

            height: 100%;
        }


    }
   
   
}




@media only screen and (min-width: 1080px) { // more response changes after splitting
    .hero-1{
        padding: 100px 150px 100px 200px; //top right, bottom, left 


       .container{
           
            margin: 0 auto; //top&bottom no margin --- Left&right fill up space with margin
            display: grid;
            grid-template-columns: auto auto;
            text-align: left;
            
            .left-side{
                display: grid;
                max-width: 550px;
                padding-right: 1em;;



                .watch{
                    margin-top: 1.5em;
                    margin-left: 1em;
                }
        
            }

            .right-side{
                display: grid; 

                .dev-image{
                    width: 100%;
                    margin-left: 2em;
                }
            }
        
        }


    }

    .hero-3{

        .container{
            margin-top: 80px;
        }
    }

   
   
}


@media only screen and (min-width: 976px) { //mid screen
   

    .hero-2{

        padding-top: 150px;
        padding-bottom: 0;

    }
    .hero-2 .container{
        display: block;
        
       
        .collab-image{
            display: block;
            margin-top: 5em;
            width: 70%;
            margin-right: 10%;
            margin-left: 30%;
        }
     }
}

@media only screen and (min-width: 1280px) { //Full screen
   

   .navbar{

        .logo{
            padding-left: 100px;
        }

        
        .second-options{
            padding-right: 80px;
        }
    }
    .hero-2{

        ul.features{
            font-size: 24px;

            li{
                margin-bottom: 2em;
            
            }
        }
    }


    .hero-2 .container{
        display: block;
        
       
        .collab-image{
            display: block;
            margin-top: 1em;
            width: 70%;
            margin-right: 10%;
            margin-left: 30%;
    

        }
     }
}







@media only screen and (min-width: 1439px) { //HUGE
   
   .hero-1 .left-side{

    h1{
       font-size: 55px;
    }

    .watch{
        font-size: 20px
    }
    }


    .hero-2{

        padding-top: 20px;
        padding-bottom: 0;

        .container{
        display: grid;
        grid-template-columns: auto auto;
        position: relative;


            .collab-image{
                display: grid;
                height:700px;
                width: 800px;
                margin: 0;
                position: absolute;
                bottom: -9em;

            }

            .features{
                display: grid;
                margin: 3em;
            }
        }

     

        ul.features{
            margin: 0px;
            color: white;
            font-size: 26px;
            width:max-content;
            display: block;
            
        
            li{
                margin-bottom: 1em;
                margin-left: 2em;
                position: relative;
        
                &:before{  //& is only specific to Sccs
                    content: '';
                    width: 25px;
                    height: 25px;
                    background-image: url("images/bullet.svg");
                    background-size: cover;
                    position: absolute;
                    margin-right: 2.5em;
                    left: -1.5em;
                    bottom: 0.19em;

                 }
             }
            
         }
    }

   
}
